

html{
    text-align: center;
    font-size: 20px;
}

body{
    font-family: "Arial", "Meiryo", sans-serif ; 
    text-align: center;
}

#basic{
    p{
    text-align: center;
    }
}

.c{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.2em;
    text-decoration: underline 3px rgb(115, 115, 114);
    text-shadow: 3px 3px 3px gray;
    text-align: center;
    font-size: 2rem;   
}

.c::first-letter{
    color: skyblue;
}


.a{ 
    color: pink;
    text-align: center;
}

.b{
    color: skyblue;
    text-align: center;
}

p{
    text-align: center;
}

span{
    color: pink;
}